@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.custom-input .MuiInputLabel-root,
.custom-input .MuiInputBase-input,
.custom-input .MuiFormLabel-root,
.custom-input .MuiInputBase-root,
.custom-input .MuiInput-underline:after,
.custom-input .MuiInput-underline:before,
.custom-input svg {
  color: #fff;
}

.custom-input .MuiFormHelperText-root {
  color: #dddada;
}

.custom-input .MuiInputBase-root::before,
.custom-input fieldset {
  border-color: #fff;
}

.custom-input .MuiInputBase-root:hover::before,
.custom-input:hover fieldset {
  border-color: #1976d2 !important;
}
.custom-input:hover .MuiInputLabel-root {
  color: #1976d2;
}
